body{
	font: 400 13px/1.5 Arial, sans-serif;
	color:  #797b7f;
	background: url(../img/main-bg.png);
	background-size: cover;
}

/* Layout */
.ba-container{
	padding: 60px 20px;
	max-width: 1200px;
}

/* Typography */
.ba-dailyform a {
	color:  #ea355a;
	font-size: 13px;
	text-decoration: none;
}
.ba-dailyform a:hover {
	color:  orange;
	text-decoration: underline;
}
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	background-color:  #ea355a;
	box-shadow: 0px 3px 0px 0px #bd1962;
	height: 50px;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 50px;
	border: none;
	border-radius: 4px;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background: #F8463A;
}
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus,
.ba-button:focus {
	box-shadow: 0 0 0 2px green;
	outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	border-radius: 4px;
	background-color:  #f0f0f0;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	padding: 0 9px;
	border: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	border: 1px solid  green;
	outline: none;
}
input[type="text"]:invalid:focus,
input[type="email"]:invalid:focus,
input[type="password"]:invalid:focus,
input[type="number"]:invalid:focus,
input[type="tel"]:invalid:focus {
	border: 1px solid red;
}
textarea {

}

.ba-dailyform {
	background: #FFF;
	max-width: 461px;
	margin: 0 auto;
}
.ba-dailyform__body {
	padding: 31px 31px;
}
.ba-dailyform__title {
	color:  #1b1c1d;
	font-size: 24px;
	font-weight: 700;
	margin: 0;
	background: url(../img/sign-up-icon.png) no-repeat;
	padding-left: 30px;
}
.ba-dailyform__text {
	margin-right: 5px;
}
[name="F-name"] {
	width: 48.5%;
	float: left;
	margin-right: 3%;
}
[name="L-name"] {
	width: 48.5%;
	float: right;
}
[name="email"] {
	width: 100%;
}
[name="password"] {
	width: 100%;
}
.ba-form-row input {
	margin-bottom: 16px;
}
.ba-dailyform__sign-up {
	width: 100%;
}
